openapi: 3.0.4
info:
  title: API de Oportunidades
  description: |-
    API de integração de Oportunidades.
  contact:
    email: ti@fretatech.com.br
  version: 1.0.0
servers:
  - url: https://fretatech.com.br/api
tags:
  - name: Oportunidades
    description: Operações com oportunidades
  - name: Origens de Oportunidades
    description: Operações com origens de oportunidades
paths:
  /opportunity:
    post:
      tags:
        - Oportunidades
      summary: Criação de oportunidade
      description: Adiciona nova oportunidade
      operationId: createOpportunity
      requestBody:
        description: Adiciona nova oportunidade
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpportunityRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/OpportunityRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OpportunityRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/OpportunityResponse'
        '400':
          description: Invalid input
        '422':
          description: Validation exception
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - bearerAuth: []
  /opportunity/{id}:
    post:
      tags:
        - Oportunidades
      summary: Edição de oportunidade
      description: Atualiza uma oportunidade existente
      operationId: updateOpportunity
      parameters:
        - name: id
          in: path
          description: ID da oportunidade
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Atualiza oportunidade existente
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpportunityRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityResponse'
        '404':
          description: Oportunidade não encontrada
        '422':
          description: Validation exception
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - bearerAuth: []
    delete:
      tags:
        - Oportunidades
      summary: Exclusão de oportunidade
      description: Remove uma oportunidade
      operationId: deleteOpportunity
      parameters:
        - name: id
          in: path
          description: ID da oportunidade
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                    example: "Oportunidade deletada com sucesso"
        '404':
          description: Oportunidade não encontrada
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - bearerAuth: []
  /opportunity-source:
    get:
      tags:
        - Origens de Oportunidades
      summary: Listagem de origens de oportunidades
      description: Lista todas as origens de oportunidades disponíveis
      operationId: listOpportunitySources
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                    example: "Origens listadas com sucesso"
                  sources:
                    type: array
                    items:
                      $ref: '#/components/schemas/OpportunitySource'
        '422':
          description: Error listing sources
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                    example: "Erro ao listar origens"
                  error:
                    type: string
                    example: "sources_not_found"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - bearerAuth: []
    post:
      tags:
        - Origens de Oportunidades
      summary: Criação de origem de oportunidade
      description: Adiciona nova origem de oportunidade
      operationId: createOpportunitySource
      requestBody:
        description: Adiciona nova origem de oportunidade
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpportunitySourceRequest'
        required: true
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunitySourceResponse'
        '422':
          description: Validation exception or source already exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                    example: "Já existe uma origem com este nome"
                  error:
                    type: string
                    example: "source_already_exists"
                  source:
                    $ref: '#/components/schemas/OpportunitySource'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - bearerAuth: []
components:
  schemas:
    OpportunityRequest:
      type: object
      properties:
        source:
          type: string
          example: "primeira"
          description: "Fonte da oportunidade"
        external_id:
          type: string
          example: "abc123"
          nullable: true
        description:
          type: string
          nullable: true
          example: "a"
        customer:
          $ref: '#/components/schemas/Customer'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/Field'
      required:
        - source
        - customer
        - fields
      xml:
        name: opportunityRequest
    Opportunity:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 12
          nullable: true
        external_id:
          type: string
          example: "abc123"
          nullable: true
        description:
          type: string
          nullable: true
          example: "a"
        source:
          type: string
          example: "primeira"
        customer:
          $ref: '#/components/schemas/Customer'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/Field'
      xml:
        name: opportunity
    Customer:
      type: object
      properties:
        name:
          type: string
          example: "Maria da Silva"
        email:
          type: string
          format: email
          example: "email@email.com"
        phone:
          type: string
          nullable: true
          example: null
      xml:
        name: customer
    Field:
      type: object
      properties:
        label:
          type: string
          example: "Data de ida"
        value:
          type: string
          example: "20/05/2026"
      xml:
        name: field
    OpportunityResponse:
      type: object
      properties:
        msg:
          type: string
          example: "Oportunidade criada com sucesso"
        opportunity:
          $ref: '#/components/schemas/Opportunity'
      xml:
        name: opportunityResponse
    OpportunitySourceRequest:
      type: object
      properties:
        name:
          type: string
          example: "Website"
          description: "Nome da origem"
        description:
          type: string
          example: "Oportunidades vindas do website"
          nullable: true
          description: "Descrição da origem"
      required:
        - name
      xml:
        name: opportunitySourceRequest
    OpportunitySource:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1
        name:
          type: string
          example: "Website"
        slug:
          type: string
          example: "website"
        description:
          type: string
          example: "Oportunidades vindas do website"
          nullable: true
      xml:
        name: opportunitySource
    OpportunitySourceResponse:
      type: object
      properties:
        msg:
          type: string
          example: "Origem criada com sucesso"
        source:
          $ref: '#/components/schemas/OpportunitySource'
      xml:
        name: opportunitySourceResponse
    Error:
      type: object
      properties:
        msg:
          type: string
          example: "Erro interno no servidor"
        error:
          type: string
          example: "Internal Server Error"
      xml:
        name: error
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
